<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{"/" | relative_url }}">{{ site.title | escape }}</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{"/" | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{"/50-states-marathon" | relative_url }}">50 States</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="{{"/race-resume" | relative_url }}">Race Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "/posts" | relative_url }}">Posts</a>
        </li>
<li class="nav-item">
          <a class="nav-link" href="{{ "https://docs.google.com/spreadsheets/d/1KWX_lWljguMSv4yG8zLjpqjOwzsPlmIvadBUepG_FNs/edit?hl=en_US&hl=en_US#gid=2" | absolute_url}}">Race Results (Google Doc)</a>
        </li>



      </ul>
    </div>
  </div>
</nav>
