{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | relative_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}

PRS
<ul><li>1m: 5:24/5:24* (2012)</li>
<li>5k: 19:49/6:23 (2012)</li>
<li>4m: 28:52/7:14 (2008)</li>
<li>5m: 35:05/7:01 (2011)</li>
<li>10k: 41:23/6:40 (2011)</li>
<li>10M: 1:10:06/7:00 (2012)</li>
<li>13.1m: 1:29:50/6:52 (2013)</li>
<li>26.2m: 3:09:52/7:15 (2012)</li>
<li>50k: 6:15:49/12:26 (2008)</li></ul>

Masters PRs (40+)
<ul><li>5M: 40:50/8:10 (2019)</li>
  <li>10K: 48:31/7:49 (2019)</li>
<li>10M: 1:20:48/8:05 (2019)</li>
<li>13.1M: 1:41:56/7:48 (2019)</li>
<li>26.2M: 3:46:55/8:39 (2018)</li></ul> 
  </div> 

{% endif %}


