---
id: 279
title: 'garmin test &#8220;run&#8221;'
date: 2007-07-03T20:58:00-06:00
author: admin
  
guid: http://www.afhill.com/gothedistance/?p=279
permalink: /2007/07/garmin-test-run/
tweetbackscheck:
  - "1233029356"
shorturls:
  - 'a:8:{s:9:"permalink";s:60:"http://www.afhill.com/gothedistance/2007/07/garmin-test-run/";s:7:"tinyurl";s:25:"http://tinyurl.com/afprlm";s:4:"isgd";s:17:"http://is.gd/hlRo";s:5:"bitly";s:18:"http://bit.ly/fRux";s:5:"snipr";s:22:"http://snipr.com/aslys";s:5:"snurl";s:22:"http://snurl.com/aslys";s:7:"snipurl";s:24:"http://snipurl.com/aslys";s:4:"trim";s:17:"http://tr.im/cy7w";}'
twittercomments:
  - 'a:0:{}'
tweetcount:
  - "0"
dsq_thread_id:
  - "19952600"
categories:
  - Uncategorized
tags:
  - Columbus Running Company
---
Today I headed for a short run with my garmin. I set it up to give me a distance alert every half mile, and track the distance, pace, average pace, and heart rate. It wasn&#8217;t until I finished that I realized I didn&#8217;t track cumulative time, I&#8217;ll have to do that! I liked the half mile alert, it gave me a chance to monitor how I was doing without micro-managing. 

I want to set up some different profiles and workouts: in particular I was thinking of when my workouts call for 100m strides &#8212; I can set a distance alert so that I don&#8217;t slow myself down in anticipation of a landmark. 

I also need to do something to figure out my heart rate zones &#8212; I was telling Meredith the other day that I really think our max can&#8217;t be 197; because we both can run long runs at greater than 180 bpm, which doesn&#8217;t seem like it should be sustainable. 

I am planning to run that Columbus Running Company 1 Mile Dash, so perhaps that will be an opp for me to get a new max.